.DS_Store
*~
*.sw[p|o]
*.py[c|o]
*.py~
*.csv
*.db
*.png
*.pdf
data/
.ipynb_checkpoints/
GermanPolarityClues-2012/
Keyword-Listen30T/
Keyword-Listen30T_annotated/
dist/
build/
simec.egg-info/
MANIFEST.in
setup.py
SentiWS_v1.8c_Negative.txt
SentiWS_v1.8c_Positive.txt
annotate_lists.py

