.DS_Store
*~
*.sw[p|o]
*.py[c|o]
*.py~
*.ods
*.db
*.png
*.pdf
.ipynb_checkpoints/
dist/
build/
simec.egg-info/
MANIFEST.in
setup.py
data/SentiWS_v1.8c_Negative.txt
data/SentiWS_v1.8c_Positive.txt
data/Kommentare
data/GermanPolarityClues-2012/*-Lemma-*.tsv
data/emotion_words_original/
data/Keyword-Listen30T/
data/Keyword-Listen30T_annotated/
annotate_lists.py
